*{ 
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: var(--font-body--family);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading--family);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.button{
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background  0.3s, color 0.3s, box-shadow 0.3s;
}
.button:hover, .button:focus{
    background-color: #555;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.10); 
    outline: none;
}