*{ 
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: var(--font-body--family);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading--family);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}


